<?xml version="1.0"?>
<config>
    <modules>
        <Tatva_Slider>
            <version>0.1.0</version>
        </Tatva_Slider>
    </modules>
    <frontend>
        <routers>
            <slider>
                <use>standard</use>
                <args>
                    <module>Tatva_Slider</module>
                    <frontName>slider</frontName>
                </args>
            </slider>
        </routers>
        <layout>
            <updates>
                <slider>
                    <file>slider/slider.xml</file>
                </slider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<slider>
				<use>admin</use>
				<args>
					<module>Tatva_Slider</module>
					<frontName>slider</frontName>
				</args>
			</slider>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<slider module="slider">
				<title>Slider</title>
				<sort_order>101</sort_order>
				<children>
					<items module="slider">
						<title>Manage Slides</title>
						<sort_order>0</sort_order>
						<action>slider/adminhtml_slider</action>
					</items>
                    <config module="slider">
                        <title>Slider Configuration</title>
                        <sort_order>3</sort_order>
                        <action>adminhtml/system_config/edit/section/slider</action>
                    </config>
				</children>
			</slider>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
                    <children>
    					<children>
    						<Tatva_Slider>
    							<title>Tatva Slider</title>
    							<sort_order>11</sort_order>
    						</Tatva_Slider>
    					</children>
                        <system>
        					<children>
        						<config>
        							<children>
        								<slider translate="title" module="slider">
        									<title>Slider</title>
        								</slider>
        							</children>
        						</config>
        					</children>
        				</system>
                    </children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<slider>
					<file>slider/slider.xml</file>
				</slider>
			</updates>
		</layout>
    </adminhtml>   
    <global>
    <events>
   <admin_system_config_changed_section_slider>
    <observers>
       <Tatva_Slider_Model_Observer>
           <type>model</type>
           <class>Tatva_Slider_Model_Observer</class>
           <method>saveCmsPageObserve</method>
           </Tatva_Slider_Model_Observer>
       </observers>
  </admin_system_config_changed_section_slider>
</events>
        <models>
            <slider>
                <class>Tatva_Slider_Model</class>
                <resourceModel>slider_mysql4</resourceModel>
            </slider>
            <slider_mysql4>
                <class>Tatva_Slider_Model_Mysql4</class>
                <entities>
                    <slider>
                        <table>slider</table>
                    </slider>
                    <slider_store>
						<table>slider_store</table>
					</slider_store>
                </entities>
            </slider_mysql4>
        </models>
        <resources>
            <slider_setup>
                <setup>
                    <module>Tatva_Slider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </slider_setup>
            <slider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </slider_write>
            <slider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </slider_read>
        </resources>
        <blocks>
            <slider>
                <class>Tatva_Slider_Block</class>
            </slider>
        </blocks>
        <helpers>
            <slider>
                <class>Tatva_Slider_Helper</class>
            </slider>
        </helpers>
    </global>
	<default>
		<slider>
			<slider>
				<title>1</title>
				<square>1</square>
				<button>0</button>
				<auto>1</auto>
				<time>7</time>
				<content>0</content>
				<maxlimit>5</maxlimit>
				<width>900</width>
				<height>450</height>
				<imagewidth>900</imagewidth>
				<imageheight>450</imageheight>
				<left>740</left>
			</slider>
 		</slider>
	</default>
</config>