<?xml version="1.0" encoding="UTF-8"?>
<config>
    

    <modules>
        <Lister_Slider>
            <version>0.1.0</version>
        </Lister_Slider>
    </modules>


    <global>
        <blocks>
            <slider>
                <class>Lister_Slider_Block</class>
            </slider>
        </blocks>
    </global>
    
    <frontend>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <lister_slider>
                        <type>singleton</type>
                        <class>Lister_Slider_Model_Observer</class>
                        <method>addBlockSlide</method>
                    </lister_slider>
                </observers>
            </controller_action_layout_load_before>
        </events>
        <layout>
            <updates>
                <slider module="slider">
                    <file>slider/slider.xml</file>
                </slider>
            </updates>
        </layout>
    </frontend>
</config>