<?xml version="1.0"?>
<config>
    <global>
        <modules>
            <Lister_Staticblock>
                <version>0.1.0</version>
            </Lister_Staticblock>
        </modules>
        <blocks>
            <staticblock>
                    <class>Lister_Staticblock_Block</class>  
            </staticblock>
        </blocks>
        <helpers>
            <staticblock>
                <class>Lister_Staticblock_Helper</class>
            </staticblock>
        </helpers>
    </global>
    <frontend>
        <routers>
            <Staticblock>
                <use>standard</use>
                <args>
                    <module>Lister_Staticblock</module>
                    <frontName>staticblock</frontName>
                </args>
            </Staticblock>
        </routers>
        <layout>
            <updates>
                <Staticblock>
                    <file>staticblock/staticblock.xml</file>
                </Staticblock>
            </updates>
        </layout>
    </frontend>
</config>