<?xml version="1.0"?>
<config>
    <modules>
        <Lister_Feedback>
            <version>1.4.3</version>
        </Lister_Feedback>
    </modules>
    <global>
        
        <models>
            <feedback>
                <class>Lister_Feedback_Model</class>
                <resourceModel>feedback_resource</resourceModel>
            </feedback>
            <feedback_resource>
                <class>Lister_Feedback_Model_Resource</class>
                <entities>
                    <feedback>
                        <table>feedback</table>
                    </feedback>
                    <order_details>
                        <table>order_details</table>
                    </order_details>
                </entities>
            </feedback_resource>
        </models>
        <events>
            <sales_order_place_after>
                <observers>
                    <lister_feedback>
                        <type>singleton</type>
                        <class>Lister_Feedback_Model_Order_Observer</class><!-- I've also tried Feed_Sales_Model_Order_Observer here -->
                        <method>implementOrderStatus</method>
                    </lister_feedback>
                </observers>
            </sales_order_place_after>
        </events>
        <resources>
            <feedback_setup>
                <setup>
                    <module>Lister_Feedback</module>
                </setup>
            </feedback_setup>
        </resources>
        <blocks>
            <feedback>
                <class>Lister_Feedback_Block</class>
            </feedback>
        </blocks>
        <helpers>
            <feedback>
                <class>Lister_Feedback_Helper</class>
            </feedback>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <Feedback>
                    <file>feedback/feedback.xml</file>
                </Feedback>
            </updates>
        </layout>
        <routers>
            <feedback>
                <use>standard</use>
                <args>
                    <module>Lister_Feedback</module>
                    <frontName>feedback</frontName>
                </args>
            </feedback>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <feedback>Lister_Feedback_Adminhtml</feedback>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
         <catalog_product_prepare_save>
        <observers>
              <lister_feedback>
                        <type>singleton</type>
                        <class>Lister_Feedback_Model_Order_Observer</class><!-- I've also tried Feed_Sales_Model_Order_Observer here -->
                        <method>saveProductBrand</method>
                    </lister_feedback>
            
        </observers>
    </catalog_product_prepare_save>
    </adminhtml>
</config>

